.nav{
    height: 70px;
    background-color: black;
    color: #fff;
    display: flex;
   justify-content: space-between;
    padding : 10px 20px;
    font-family: Tahoma;
}

.nav h2 {
    font-size: 30px;
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo > i {
    font-size: 30px;
    cursor: pointer;
}


.user-profile{
    align-items: center;
    gap: 20px;
    text-align: end;
}

/* sidebar */

.nav-option{
    display: flex;
    align-items: center;
    padding:0px 0px 0px 10px;
    padding-bottom: 10px;
    width: 220px;
    gap: 20px;
    font-family: Tahoma;
    text-decoration: none;
    color: #fff;
}

.nav-option > i.bi{
    font-size: 30px;
    color: #fff;
    background-color: black;
}

.sidebar-container{
    background-color: #000;
    color: #fff;
    height: calc(100vh - 70px);
    width: 220px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
}

.notification-content{
    background-color: #254336;
    color: #fff;
    height: calc(100vh - 70px);
    width: 220px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    display: none;
}

.sidebar-container::-webkit-scrollbar{
    display: none;
}

.nav-option:hover, .nav-option:hover > i.bi{
    background-color: #e9d8ff;;
    color: #000;
    cursor: pointer;
}

.nav-option:active , .nav-option:active > i.bi{
    background-color: #e9d8ff;;
    color: #000;
    cursor: pointer;
}

#notification-count {
    min-width : 20px;
    min-height: 20px;
    padding : 2px;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 50px;
    position: absolute;
    right : 45.8%;
    top : 1%;
    color : #fff;
    text-align: center;
}

#mark-read {
    position: absolute;
    bottom : 0;
    width: 100%;
    left: 0;
    padding: 5px;
    background-color: black;
    border: none;
    outline: none;
    color : #fff;
}

/*@media query*/
@media screen and (min-width: 768px){
    .navbarCollaps{
        width: 80px;
    }

    .navbarCollaps > .nav-option > h3 {
        display: none;
    }

    .navbarCollaps > .nav-option > i.bi {
        font-size: 38px;
    }
}

@media screen and (max-width: 767px){
    .logo i{
        display: none;
    }

    .sidebar-container{
        display: block;
        width: 15%;
    }

    .nav-option > h3 {
        display: none;
    }
}