
/* Filename: App.css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #e9d8ff;
    min-height: 100vh;
	width: 100vw;
    overflow: hidden;
}

.container{
	width: 100vw;
	overflow-y: auto;
	overflow-x: hidden;
	color: #000;
	font-family: Tahoma;
}

.container-fluid{
	max-width: 1300px;
	color: #000;
	font-family: Tahoma;
	height: 87vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.container-fluid > h2 {
	text-align: center;
	font-size: 16px;
	margin: 10px;
}

.pageone{
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
}

.container > h1 {
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
}

#gen{
	background-color: #000;
	color: #fff;
}

.continue{
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
}

.container > i {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 100px;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
}

.modalopener{
	padding: 10px;
	margin: 5px;
	border-radius: 30px;
	width: 50%;
	background-color: rgb(85, 85, 202);
	border: none;
	box-shadow: 0px 0px 2px 1px #333333;
	color: #fff;
}

.modalopener:hover{
	background-color:burlywood;
	cursor: pointer;
}

.tr-row > td {
	padding: 5px;
	border-top: 1px solid #333333;
}

.tr-icon{
	font-size: 25px;
}

.tr-icon:hover{
	cursor: pointer;
	opacity: 0.7;
}

#remove{
	display: none;
}

.cart-qty {
	background: transparent;
	outline : none;
	border: none;
}

.deleteall {
	margin: 10px;
	padding: 10px;
	background-color: red;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 30px;
	font-family: Tahoma;
}

.deleteall:hover{
	cursor: pointer;
	box-shadow:  2px 2px 5px 5px #000;
}

.modal{
	position: absolute;
	margin-top: 50px;
	align-items: center;
	text-align: center;
	background: rgb(138, 138, 145);
	min-height: 400px;
	width: 60%;
	border-radius: 10px;
	display: none;
	z-index: 6000;
	backdrop-filter: blur(20px);
	--webkit-filter: blur(20px);
}

.open, .edit{
	display: block;
	z-index: 6000;
}

.background{
	position: absolute;
	top: 9%;
	bottom: 0;
	width: 100%;
	left: 0;
	backdrop-filter: blur(20px);
	--webkit-filter: blur(20px);
}

.modal-header{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.modal-header > i {
	font-size: 25px;
	color: rgb(190, 45, 45);
}

.modal-header > h2{
	color: rgb(190, 45, 45);
}

.modal-body{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	padding: 5px;
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

.date-input{
	padding: 15px;
	border-radius: 30px;
	border: none;
	outline: none;
}

.name{
	margin: 10px;
	font-weight: bold;
}

.name-input,.manager-input,.location-input,.phone-input{
	width: 80%;
	padding: 5px;
	border-radius: 30px;
	border: none;
	outline: none;
}

.status-input{
	width: 50%;
	padding: 5px;
	border-radius: 30px;
	border: none;
	outline: none;
}

.modal-footer{
	padding: 15px;
}

.back{
	position: absolute;
	padding: 10px;
	background-color: #333333;
	width: 40%;
	color: #fff;
	border-radius: 30px;
	bottom: 1%;
	left: 2%;
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 0px 2px 1px #333333;
}

.back:hover{
	opacity: 0.7;
	box-shadow: none;
}

.send{
	position: absolute;
	padding: 10px;
	background-color: rgb(13, 168, 13);
	width: 40%;
	color: #fff;
	border-radius: 30px;
	bottom: 1%;
	right: 2%;
	outline: none;
	border: none;
	cursor: pointer;
	box-shadow: 0px 0px 2px 1px #333333;
}

.send:hover{
	opacity: 0.7;
	box-shadow: none;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.changes{
	font-size: 16px;
	float: right;
}

.col-md-4{
	width: 25%;
	border-radius: 10px;
	padding: 40px;
	margin: 5px;
}

.col-md-4 > i {
	font-size: 30px;
}

.coin{
background-color: rgb(5, 169, 5);
color: #fff;
font-size: 20px;
}

.cashpay{
background-color: rgb(5, 169, 5);
color: #fff;
font-size: 20px;
}

.transferpay{
background-color: rgb(5, 101, 169);
color: #000;
font-size: 20px;
}

.POSpay{
background-color: rgb(212, 26, 181);
color: #fff;
font-size: 20px;
}

.chequepay{
background-color: rgb(165, 107, 14);
color: #fff;
font-size: 20px;
}

.todayexp{
	background-color: rgb(241, 12, 12);
	color: #fff;
	font-size: 20px;	
}

.sevenexp{
background-color: rgb(185, 16, 16);
color: #fff;
font-size: 20px;
}

.monthexp{
background-color: rgb(142, 7, 7);
color: #fff;
font-size: 20px;
}

.monthsexp{
background-color: rgb(72, 5, 5);
color: #fff;
font-size: 20px;
}

.logout{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-evenly;
	width: 30%;
	position: absolute;
	bottom: 2%;
	right: 30%;
	padding: 10px;
	background-color: red;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 30px;
	box-shadow: 0px 0px 2px 1px #333333;
}

.logout:hover{
	box-shadow: none;
	cursor: pointer;
}

.admin-detail{
	padding: 10px;
	font-family: monospace;
}

.admin-detail > h3 {
	color:rgb(63, 63, 65);

}

.admin-detail > p{
	margin: 10px;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	color:rgb(63, 63, 65);
	padding: 10px;
	border-radius: 10px;
}

.admin-detail > p > i {
	font-size: 18px;
}

.company-detail{
	padding: 10px;
	font-size: 20px;
	font-family: system-ui;
}

.company-detail > p {
	margin: 10px;
	border: 1px solid #000;
	width: 100%;
	font-size: 16px;
	padding: 10px;
	border-radius: 10px;
}

.search-btn{
	border-radius: 10px;
	padding: 20px;
	background-color: black;
	color: #fff;
	border: none;
	outline: none;
	box-shadow: 0px 0px 2px 1px #333333;
	cursor: pointer;
}

.search-btn:hover{
	box-shadow: none;
}

.ban{
	background-color: rgb(198, 13, 13);
	color: #fff;
	font-size: 20px;
}

.cart{
	background: rgb(10, 10, 181);
	color: #fff;
	font-size: 20px;
}

.receipt{
	background-color: #000;
	color: #fff;
	font-size: 20px;
}

.col-md-4:hover{
	opacity: 0.5;
}

.ext{
	border: 1px solid #000;
	border-radius: 10px;
	padding: 10px;
	font-family: monospace;
}

.row-header{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.table{
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	background-color: burlywood;
}

.table th {
	border: 1px solid rgb(87, 0, 128);
	border-radius: 10px;
	padding: 10px;
	color: brown;
}

.table tr{
	text-align: center;
}

.table td{
	font-family: monospace;
	font-size: 16px;
}

.col-divide{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.select {
	width: 20%;
	border-radius: 10px;
	font-size: 16px;
}

.search{
	width: 70%;
	padding: 10px;
	border: 2px solid #000;
	border-radius: 30px;
}

.tbody{
	background-color: burlywood;
}

.col{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	overflow-x: auto;
	overflow-y: hidden;
}

.names-input{
	width: 40%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 30px;
}

#add-cart{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: rgb(17, 143, 17);
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 0px 2px 1px gray;
	color: #fff;
}

#add-cart:hover{
	box-shadow: none;
}

#jump{
	margin: 10px;
}

#jum-down{
	margin-top: 50px;
}

.generate{
	width: 50%;
	background-color: rgb(8, 103, 181);
	color: #000;
	font-weight: bold;
	padding: 10px;
	border-radius: 30px;
	border: none;
	outline: none;
	box-shadow: 0px 0px 2px 1px #333333;
	cursor: pointer;
}

.generate:hover{
	box-shadow: none;
}

#jum-down > input {
	background-color: #000;
	color: #fff;
	border: none;
	outline: none;
}

#opentwo{
	display: none;
}

#cont{
	display: block;
}

.continue{
	display: none;
}

.backto{
	display: none !important;
}

.backone{
	display: block !important;
}

#receipt {
	background-color: #fff;
	border-top: none;
	min-height: 100vh;
}

#open  {
  top: 0;
  bottom : 0;
}

#edit-input{
font-size: 2rem;
width: 100px;
height: 50px;
text-align: center;
margin: 5px;
border-radius: 5px;
outline : none;
border: none;
}

#edit-input:focus{
border: 2px solid yellowgreen;
outline: none;
animation-name: zoom;
animation-duration: 200ms;
}

.cartscan {
position: absolute;
background-color: #000;
top: 9%;
bottom: 0;
right: 0;
width: 250px;
}

#dis-play {
	width : 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid #000;
	box-shadow: 0px 0px 1px 1px #000;
}

/*query*/
@media  screen and  (min-width: 768px) {
	.container-fluid{
		margin-left: 15%;
	}

	.row{
		margin-top: 5px;
		margin-bottom: 5px;
	}

}

@media  screen and  (max-width: 767px) {

	.container-fluid{
		margin-left: 15%;
	}

	#receipt-tbl {
		margin-left: -15%;
		width: 100%;
	}

	.row{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 10px;
	}

	.col-md-4{
		width: 100%;
		padding: 25px;
	}

	.table{
		min-width: 100vw;
		padding: 5px;
		margin-left: 100%;
	}

	#tablesm{
		margin-left: 150%;
	}

	#tablexl{
		margin-left: 170%;
	}

	#tablexll{
		margin-left: 200%;
	}

	#tablexlg{
		margin-left: 220%;
	}

	#tablext{
		margin-left: 280%;
	}

	.modal{
		top: 2%;
		width: 85%;
		border-radius: 0;
		bottom: 0;
		height: 91.2vh;
	}

	.modal-body{
		border-bottom: none;
	}

	.back{
		width: 100%;
		bottom: 15%;
		left: 0;
	}

	.send{
		width: 100%;
		bottom: 7%;
		left: 0;
	}

	.background{
		display: none;
	}

	.logout{
		bottom: 0;
	}

	.names-input{
		width: 100%;
	}

	.generate{
		display: relative;
	}

}

